
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.__pycache__
*.DS_Store
access_token
static/node_modules/three/*
static/jquery.js
model_weights/mountains_pix2pix/*.pth
